<div class="grid">
  
  <div class="navigate">
    <br>
    <a routerLink="/home">Home</a><br>
    <a routerLink="/books">All books</a><br>
    <a routerLink="/authors">All authors</a><br>
    <a routerLink="/genres">All genres</a><br>
    <a routerLink="/book-instances">All book-instances</a><br>
    <br>
    <a routerLink="/new-author">Create new author</a><br>
    <a routerLink="/new-genre">Create new genre</a><br>
    <a routerLink="/new-book">Create new book</a><br>
    <a routerLink="/new-book-instance">Create new book instance (copy)</a><br>
  </div>
  
  <div class="router">
    <router-outlet></router-outlet>
  </div>

</div>