<h1>Local Library Home</h1>

<nav>
  <a routerLink="/home">Home</a>
  <a routerLink="/books">All books</a>
  <a routerLink="/authors">All authors</a>
  <a routerLink="/genres">All genres</a>
  <a routerLink="/book-instances">All book-instances</a>
</nav>
<!--
<create>
  <a routerLink="/new-author">Create new author</a>
  <a routerLink="/new-genre">Create new genre</a>
  <a routerLink="/new-book">Create new book</a>
  <a routerLink="/new-book-instance">Create new book instance (copy)</a>
</create>

-->